/* Navegación común */

nav {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  font-family: "Arial", Georgia, serif;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

nav ul li a:hover {
  color: rgb(68, 210, 212);
}



body.varios {
  background-image: url("/imagenes/varios_fondo.jpg");
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.titulo-principal {
  text-align: left;         /*linea el texto a la izquierda si quieres */
  margin-top: 30px;
  margin-left: 45px;        /* mueve el título a la derecha */
  font-size: 40px;
  font-weight: bold;
}
.contenido-centrado {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  line-height: 3;
  
}

.contenido-centrado h2 {
  font-size: 24px;
  margin-top: 30px;
  font-family: 'Merriweather', serif;
  font-size: 30px;
}

.contenido-centrado ul {
  list-style: none;
  padding: 0;
  margin-bottom: 30px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
}

.cuervo-volador {
  position: absolute;
  top: 20%;
  left: -200px;
  width: 120px;
  animation: vuelo-zigzag 10s linear infinite;
  z-index: 1000;
  pointer-events: none;
}
/* animación para que el cuervo vuele horizontalmente de izquierda a derecha */
@keyframes vuelo-cuervo {
  0% {
    left: -100px;
    top: 100px;
    transform: scaleX(1);
  }
  50% {
    left: 100vw;
    top: 150px;
    transform: scaleX(1);
  }
  50.01% {
    transform: scaleX(-1); /* voltear horizontalmente */
  }
  100% {
    left: -100px;
    top: 200px;
    transform: scaleX(-1);
  }
}

/* estilos del cuervo animado */
.cuervo-volador {
  position: fixed;
  width: 100px;
  height: auto;
  z-index: 9999;
  animation: vuelo-cuervo 10s linear infinite;
  pointer-events: none; /* para que no interfiera con clics */
}





